
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Product_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Product_Application.styles.css" asp-append-version="true" />
</head>
    <style>
        body{
            background-color:black;
            color:darkorange;
            padding:20px;
            text-align:center;
            margin:0 auto;
        }
        
        ul{
            list-style:none;
        }
        a{
            text-decoration:none;

            padding:15px;
            background-color:salmon;
            color:#fff;
            border-radius:12px;
            transition-duration:1s;
            margin-top:50px;
            display:inline-block;

        }
        a:hover{
            transition:1s;
            color:#fff;
            background-color:red;
        }
    </style>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
